<h1 class="mtop80 center lg-heading">About</h1>

<div class="col-lg-4 col-md-3 col-xs-1">&nbsp;</div>
<p class="col-lg-4 col-md-6 col-xs-10">We are a group of Korean and international artists residing in Daejeon, Korea. We host two group exhibitions throughout each year and bring a variety of art to Daejeon.</p>
<div class="col-lg-4 col-md-3 col-xs-1">&nbsp;</div>