<div class="panel panel-dafault">
	<div class="panel-body">
		<h3>Thank you!</h3> 
			<p>We have received your message and will respond soon.</p>
			<%= link_to 'Home', root_path %>
	</div><!-- / panel-body -->
</div><!-- / panel -->