/*Products*/
h3 {
  font-family: Palatino, Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman,serif;
  text-align: center;
  font-size: 3em;
  color: gray;
  margin-top: 100px;
 }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

/*body*/

body { 
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 60px;
}

html {
  position: relative;
  min-height: 100%;
}

footer {
  background-color: black;
  color: white;
  text-align: right;
  padding: 5px;
  font-family: Palatino, Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman,serif;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 60px;
}

footer p {
  padding-right: 10px;
}