html {
  position: relative;
  min-height: 100%;
}

body { 
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 60px;
}

.thumbnail {
  height: 400px;
}

.productimg {
  max-height: 300px;
}

footer {
  background-color: black;
  color: white;
  text-align: right;
  padding: 5px;
  font-family: verdana, arial, helvetica, sans-serif;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 60px;
}

h1 {
  font-family: Palatino, Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman,serif;
  color: gray;
}

h2 {
  font-family: verdana;
  text-align: center;
  font-size: 2em;
  color: gray;
  padding: 5px;
}

.tcenter {
  text-align: center;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.center {
  margin: 0 auto;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 1em;
}

.mbottom50 {
  margin-bottom: 50px;
}

.mtop12 { 
  margin-top: 12px; 
} 

.mleft50 {
  margin-left: 50px;
}

.mleft75 {
  margin-left: 75px;
}

.mleft5 {
  margin-left: 5px;
}

.mtop20 {
  margin-top: 20px;
}

.sm-heading {
  font-size: 1.5em;
}

.md-heading {
  font-size: 3em;
}

.lg-heading {
  font-size: 5em;
}

/*Contact*/

.contact {
  width:80%;
  margin:0 auto;
}

.contact p {
  text-align: center;
}

.form-group {
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 40px;
  padding-right: 40px;
}

.panel-body {
  text-align: center;
}
/*Registration*/

.spacer {
  margin: 0 auto;
}

/*Carousel*/

.carousel-inner {
  margin: 50px;
}

/*navbar*/

.top {
  margin-top: 100px;
}

.nav li {
 font-family: verdana, arial, helvetica, sans-serif; 
}

.nav ul {
 font-family: verdana, arial, helvetica, sans-serif; 
 color: gray;
}



