/*Contact*/

.contact {
  width:80%;
  margin:0 auto;
}

.contact p {
  text-align: center;
}

.form-group {
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 40px;
  padding-right: 40px;
}

.panel-body {
  text-align: center;
}

/*Products*/
h3 {
  font-family: Palatino, Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman,serif;
  text-align: center;
  font-size: 2em;
  color: gray;
  margin-top: 100px;
 }
 
#addproduct {
  text-align: center;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#addproduct {
  text-align: right;
  margin-top: 100 px;
}

/*body*/

/*Carousel*/

.carousel-slide {
  margin-top: 50px;
}

.nav navbar-nav {
  text-align: right;
}

.top {
  margin-top: 100px;
}

.navbar-brand {
  font-family: Palatino, Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman,serif;
  font-size: 1.5em;
  color: gray;
}

li {
 font-family: verdana, arial, helvetica, sans-serif; 
}

body { 
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 60px;
}

html {
  position: relative;
  min-height: 100%;
}

footer {
  background-color: black;
  color: white;
  text-align: right;
  padding: 5px;
  font-family: verdana, arial, helvetica, sans-serif;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 60px;
}