// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body { 
  height: auto;
  min-height: 100%; 
  margin: 0; 
  padding: 0; 
}

footer {
  clear: both;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
}

h3 {
  font-family: Palatino, Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman,serif;
  text-align: center;
  font-size: 3em;
  color: gray;
  margin-top: 100px;
 }