// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit {
	text-align: center;
}

.product {
	text-align: center;
}

.product_image {
    text-align: center;
}

#product {
	min-height: 5000px;
}

#addproduct {
	margin-left: auto;
    margin-right: auto;
}