h1 {
  font-family: Palatino, Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman,serif;
  text-align: center;
  font-size: 5em;
  color: gray;
  margin-top: 100px;
}

h2 {
  font-family: verdana;
  text-align: center;
  font-size: 2em;
  color: gray;
  padding: 5px;
}

footer {
	background-color: black;
	color: white;
	clear: both;
	text-align: right;
	padding: 5px;
	font-family: Palatino, Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman,serif;
}