<h1 class="mtop80 center lg-heading">Editing Product</h1>

<%= render 'form' %>
<br>
<div class="center">
	<% if can? :update, @product %>
		<% if can? :destroy, @product %>
			<%= link_to 'Destroy', product_path(@product), method: :delete, data: { confirm: 'Are you sure?' } %> |
	<% end %>
  <%= link_to 'Show', @product %> |
  <%= link_to 'Back', products_path %>
</div>
