<h1 class="mtop80 center lg-heading">Editing Product</h1>

<%= render 'form' %>
<br>
<!--probably erase
<div class="product">
  <%= link_to 'Show', @product %> |
  <%= link_to 'Back', products_path %>
</div>-->
